html {
  width: 100%;
  height: 100%;
  font-family: 'open-sans', sans-serif;
  text-align: center;
  }

.cred {
  font-size: 8pt;
  color: #FF0000;;
  text-decoration: none;
  border-bottom: 1px solid #272727;
  padding:10px 0px;
}
.cred:hover {
  color: #FF0000;
}

body {
  position: relative;
  background-color: #1D1F20;
  color: #FF0000;
  width: 100%;
  height: 100%;
}

.center {
  display: block;
  margin: 0 auto;
  position: relative;
  width: 300px;
  top: 25%;
}

.like,
.dislike {
  position: relative;
  font-size: 2.5em;
  width: 150px;
  height: 150px;
  text-align: center;
  float: left;
  cursor: pointer;
}

.dislike i,
.like i {
  position: absolute;
  left: 0;
  right: 0;
  line-height: 150px;
  -webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
    -webkit-box-reflect: below -45px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(70%, transparent) , to(rgba(250, 250, 250, 0.1)));
}

.outer {
  font-size: 280%;
  color: #FF0000;

}

.dislike:hover i,
.like:hover i {
  color: #FF0000;
}

.dislike:hover .outer,
.like:hover .outer {
  font-size: 300%;
  color: #FF0000;
}

.active {
  color: #FF0000;
}

.active .outer {
  color: #FF0000;
}