/* Default Page */
body{
	background: url(https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Y2luZW1hfGVufDB8fDB8fA%3D%3D&w=1000&q=80);
	 background-size:     cover;
	font-family: 'Oswald', sans-serif;
	text-align: center;
	color: #FFF;
}

button{
	background-color: #2b2b2b;
	font-family: 'Oswald', sans-serif;
	font-size: 1.25em;
	font-weight: 400;
	text-transform: uppercase;
	border: 2px solid #FFF;
	border-radius: 4px;
	padding: 12px 44px 12px 44px;
	margin: 20px auto;
	color: #FFF;
	-webkit-transition: color 0.5s, background-color 0.5s;
	transition: color 0.5s, background-color 0.5s;
	cursor: pointer;
}

button:hover{
	background-color: #FFF;
	color: #2b2b2b;
}

#page-1, #page-2, #page-3, #page-4, #page-5, #finish{
	display: none;
}

/* Start Page */
#start-page{
	max-width: 100%;
	max-height: 100%;
	margin-top: 18%;
}

#start-page > h1{
	font-size: 3.3em;
	font-weight: 400;
	text-transform: uppercase;
}

#start-page > h2{
	font-size: 1.25em;
	font-weight: 300;
	margin: 15px 0 20px 0;
}

