<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="css/error.css"/>
    <link href='https://fonts.googleapis.com/css?family=Aladin' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="illustration">
    <div class="gandalf-body">
        <div class="gandalf-moustache"></div>
        <div class="gandalf-beard"></div>
    </div>
    <div class="gandalf-feet"></div>
    <div class="gandalf-hand-left"></div>
    <div class="gandalf-hand-right"></div>
    <div class="sword"></div>
    <div class="spear"></div>
    <div class="spear-head"></div>
    <div class="message">
        <h2>You Shall Not Pass</h2>
        <br></br>
        <p>Username or password incorrect</p>
    </div>

    <form action ="/login">
        <button type="submit">Go back</button>
    </form>
</div>
</body>
</html>